@import "colors";
@import "compass/css3";

.ui-flash-container {
	position: fixed;
	display: block;
	margin: 0; padding: 0;
	color: $base03;
	top: 0;
	right: .5em;
	> ul {
		list-style-type: none;
		margin: 0; padding: 0;
		> li {
			display: flex;
			align-items: center;
			> i {
				font-size: 2em;
				margin-right: .25em;
			}
			cursor: pointer;
			margin: .5em 0; padding: .5em;
			@include border-radius(3px);
			@include box-shadow(rgba(black, .5) 0 1px 3px);
			@include text-shadow(rgba(white, 0.05) 0 1px 0);
			&.info {
				background: #1f4a55;
				&:hover {
					background: #395e68;
				}
			}
			&.error {
				background: #5c343a;
				&:hover {
					background: #723438;
				}
			}
			&.success {
				background: #395d28;
				&:hover {
					background: #466721;
				}
			}
			&.ng-enter {
				animation: bounceInRight 500ms;
			}
			&.ng-leave {
				animation: bounceOutRight 500ms;
			}
		}
	}
}

