@import "colors";
@import "compass/css3";

.ui-flash-container {
	position: fixed;
	display: block;
	margin: 0; padding: 0;
	color: black;
	top: 0;
	right: .5em;
	> ul {
		list-style-type: none;
		margin: 0; padding: 0;
		> li {
			> i {
				margin: 5px;
			}
			cursor: pointer;
			margin: .5em 0; padding: .5em;
			background: rgba(white, .1);
			border: 2px solid rgba(black, .5);
			@include border-radius(5px);
		}
	}
}
