@import "compass/css3";
@import "compass/reset";
@import "compass/css3/user-interface";
@import "compass/css3/font-face";
@import "compass/css3/box-shadow";
@import "compass/css3/appearance";
@import "colors";
@import "placeholder";
@import "hashbar";
@import "loader";
@import "ng-tags";
@import "ui";
@import "flash";
@import "searchbox";

$padsize: 4px;

// Fonts
// -----
@include font-face("Menlo", font-files("Menlo-Powerline.otf"));
@include font-face("Helvetica Neue", font-files("helvetica-neue1.ttf"));
@include font-face("Helvetica Neue Bold", font-files("helvetica-neue-bold.ttf"));
@include font-face("Helvetica Neue Italic", font-files("HelveticaNeueLTStd-LtCnO.otf"));
@include font-face("Helvetica Neue Thin", font-files("HelveticaNeueLTPro-LtCnO.otf"));
@include font-face("icomoon", font-files("icomoon.ttf", "icomoon.eot", "icomoon.woff", "icomoon.svg"));
@include font-face("markdown", font-files("markdown.ttf", "markdown.eot", "markdown.woff", "markdown.svg"));

@mixin simpleshadow (){
	@include text-shadow(rgba(black, 0.3) 0 1px 0);
}

html, body {
	height:100%;
	margin: 0;
}

html {
	font-family: "Helvetica Neue";
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	background: $base02;
	color: $base0;
}

em {
	font-family: "Helvetica Neue Italic";
}

strong {
	font-family: "Helvetica Neue Bold";
}

body {
	height:100%;
	padding: 60px;
	padding-top: 10px;
	padding-right: 36px;
}

* {
	outline: none;
	box-sizing: border-box;
	@include user-select(none);
}

textarea, input {
	@include user-select(text);
}

.flex {
	display: flex;
}

.hidden {
	display: none;
}

a {
	color: $cyan;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

hr {
	border: none;
	border-top: 1px dashed $base01;
}

h2 {
	font-family: 'Helvetica Neue Thin';
	color: $green;
	font-size: 32px;
	line-height: 1.5em;
	margin-top: 20px;
	margin-bottom: .5em;
}

.ui-content {
	margin-left: 38px;
	margin-top: 26px;
	margin-bottom: 1em;
	@include simpleshadow;
}

.ui-questions, .ui-answers {
	display: flex;
	flex-wrap: wrap;
	> .ui-question, .ui-answer {
		display: flex;
		align-items: center;
		max-width: 512px;
		font-size: 20px;
		line-height: 1.2em;
		margin-bottom: 8px;
		margin-right: 8px;
		border: 1px solid rgba(white, .1);
		background: rgba(white, .03);
		@include box-shadow(rgba(black, .3) 0 2px 10px);
		@include transition-property(border-color);
		@include transition-duration(100ms);
		> .votes {
			display: flex;
			position: relative;
			align-items: center;
			padding: 13px 16px;
			margin: 10px;
			font-size: 25px;
			background-color: rgba($green, .1);
			border: 1px solid rgba(black, .3);
			> i {
				position: absolute;
				font-size: 12px;
				bottom: 3px;
				right: 5px;
				color: $green;
			}
			&:hover {
				color: rgba($base2, .8);
				background-color: rgba($green, .2);
			}
		}
		> .votes.down {
			background-color: rgba($red, .2);
			&:hover {
				background-color: rgba($red, .3);
			}
		}
		> .description {
			max-width: 448px;
			padding: 8px 8px 0 8px;
			i.icon-quotes-left {
				color:rgba(black, .3);
				margin-right: 8px;
				&.inverted {
					margin-right: 0;
					margin-left: 8px;
				}
			}
			> .flex {
				display: flex;
				text-align: left;
				> .title {
					margin: 0 10px;
					&:hover {
						color: rgba($base2, .8);
					}
				}
			}
			> .infos {
				font-family: "Helvetica Neue Thin";
				font-size: 16px;
				line-height: 16px;
				text-align: right;
				color: $base00;
				display: flex;
				align-items: center;
				margin-top: 1em;
				.categ {
					margin-right: 8px;
					font-family: "Menlo";
					font-size: 12px;
					line-height:12px;
					padding: 2px;
					background:rgba(black, .4);
					text-decoration: none;
					color: $base1;
					border: 1px solid rgba(white, .2);
					@include transition-property(border-color);
					@include transition-duration(250ms);
					&:hover {
						border: 1px solid rgba(white, .5);
						cursor: pointer;
					}
				}
				> .attribs {
					display: flex;
					flex-wrap: wrap;
					max-width: 200px;
					> span {
						margin-right: 8px;
						margin-bottom: 8px;
					}
				}
				> .extra {
					margin-left: auto;
					> .author {
						color: $base00;
						text-decoration: none;
						&:hover {
							color: $green;
						}
					}
					.time {
						color: $base03;
						margin-left: 4px;
						@include text-shadow(rgba(white, 0.05) 0 1px 0);
					}
				}
			}
		}
		&:hover {
			border-color:$green;
			cursor: pointer;
		}
	}
}


.tags {
	> span.tag {
		margin-right: 8px;
		margin-bottom: 8px;
		font-family: "Menlo";
		font-size: 12px;
		line-height:12px;
		padding: 2px;
		background:rgba($base0, .4);
		color: $green;
		border: 1px solid rgba(white, .1);
		@include transition-property(border-color);
		@include transition-duration(250ms);
		&:hover {
			border-color: $green;
			cursor: pointer;
		}
	}
}

.inverted {
	@include rotate(180deg);
}

.question-detailled {
	.purpose-block {
		display: flex;
		> .action {
			text-align: center;
			margin-right: 16px;
			margin-top: 16px;
			min-width: 64px;
			max-width: 128px;
			> .count {
				font-size: 24px;
				padding: 4px;
			}
			> i {
				font-size: 32px;
				cursor: pointer;
			}
			> i.accept {
				color: $green;
				&:hover, &.force {
					display: inline;
					&:before {
						content: "\e6fe";
					}
				}
			}
			> .voteup:hover, > .voteup.active {
				color: $green;
			}
			> .votedown:hover, > .votedown.active {
				color: $red;
			}
		}
		> .content {
			width: 100%;
			.text {
				background: rgba(white, .05);
				border: 1px solid rgba(white, .05);
				padding: 8px;
			}
			text-align: justify;
			> .content, > .title {
				@include user-select(text);
			}
			> .info {
				display: flex;
				margin-top: 24px;
				> .tags {
					align-content: stretch;
				}
				.extra {
					min-width: 16%;
					display: flex;
					margin-left: auto;
					.picture img {
						width: 50px;
						height: 50px;
						border: 2px solid $base01;
						@include border-radius(50px);
						@include box-shadow(rgba(black, .4) 0 2px 5px);
					}
					.signature {
						margin-left: 16px;
					}
					.timestamp {
						margin-top: 4px;
					}
				}
			}
			> .comments {
				margin-top: 16px;
				> .comment {
					display: flex;
					padding: 8px;
					border-top: 1px dashed $base01;
					> .votes {
						min-width: 64px;
					}
					> .action {
						min-width: 80px;
						margin-right: 24px;
						margin-top: 2px;
					}
					> .content {
						@include user-select(text);
					}
				}
			}
		}
	}
	> .answer {
		margin-top: 32px;
		> .content {
			width: 100%;
		}
		> .action {
			margin-top: 0;
		}
	}
}

.comments {
	.action {
		cursor: pointer;
		> i {
			margin-right: 8px;
		}
		> .icon-flag:hover, > .icon-flag.active {
			color: $red;
		}
		> .icon-star:hover {
			color: rgb(255, 224, 0);
		}
		> .downvote {
			color: $red;
			margin-right: 8px;
		}
		> .upvote {
			color: $green;
		}
	}
	td {
		padding: 5px 10px;
		border-top: 1px dashed rgba(white, .1);
	}
}

.add-answer {
	margin-top: 24px;
	> hr {
		margin: 16px 0;
	}
	> .flex {
		> .wmd-panel {
			margin-right: 32px;
		}
		> .wmd-preview {
			margin-top: 32px;
		}
		> div {
			width: 50%;
		}
	}
}

input[type=submit] {
	cursor: pointer;
}

.login, .register {
	text-align: center;
	display: flex;
	vertical-align: middle;
	top: 0; bottom: 0; left: 0; right: 0;
	input {
		width: 300px;
		margin-top: 10px;
	}
	> div {
		margin: 0 auto;
		width: 400px;
		> form {
			margin-bottom: 1em;
			a {
				display: block;
				margin-top: 8px;
				font-size: 12px;
			}
		}
	}
}

.register {
	i {
		font-size: 64px;
	}
	form {
		margin-top: 24px;
	}
}

.backlink {
	font-size: 32px;
}

.unstyled {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

form {
	.login {
		text-align: center;
		top: 0; bottom: 0; left: 0; right: 0;
	}
}

input {
	@include border-radius(5px, 5px);
	@include simpleshadow;
	font-size: 16px;
	padding: 1em;
	color: $base0;
	outline: none;
	border: 2px solid rgba(black, .1);
	width: 100%;
	background: transparent;
	@include transition-property(background);
	@include transition-duration(250ms);
	&:focus {
		border-color:$green;
	}
	@include placeholder {
		color: rgba(black, .2);
		@include text-shadow(none);
	}
	&:focus {
		background: rgba(black, .2);
		color: $base2;
		@include placeholder {
			color: rgba(white, .2);
		}
	}
}

.messagebox {
	padding: 16px;
	border: 1px solid rgba(white, .1);
	@include border-radius(5px, 5px);
	> li {
		padding: 10px 0;
		> .time {
			color: $base03;
			text-shadow: rgba(255, 255, 255, 0.05) 0 1px 0;
			margin-right: 8px;
		}
		> .user {
			margin-right: 8px;
		}
	}
	> .bordered {
		border-bottom: 1px solid rgba(black, .1);
	}
}

.userlist {
	list-style: none;
	display: flex;
	flex-flow: wrap;
	> li {
		display: flex;
		margin: 0 8px 8px 0;
		padding: 8px;
		border: 1px solid rgba(white, .1);
		background: rgba(white, .03);
		@include box-shadow(rgba(black, .3) 0 2px 10px);
		@include transition-property(border-color);
		@include transition-duration(100ms);
		> .image img {
			width: 50px;
			height: 50px;
			border: 2px solid $base03;
			margin-right: 16px;
			@include border-radius(50px);
			@include box-shadow(rgba(black, .4) 0 2px 5px);
		}
		> .infos {
			> .name {
				color: $base1;
			}
		}
		&:hover {
			border-color: $green;
			cursor: pointer;
		}
	}
}

.ask-edit, .ask-preview {
	width: 50%;
	.extra {
		> .category {
			margin-left: 32px;
			width: 16%;
		}
	}
}

.ask-preview {
	margin-left: 32px;
	margin-top: 42px;
	> .title {
		height: 40px;
	}
}

.wmd-preview, .purpose-block .text {
	p, pre, code, h1, h2, blockquote, a, strong, em, ul, ol, li {
		@include user-select(text);
	}
	p {
		margin-bottom: 16px;
	}
	p > code {
		padding: 3px 4px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		@include border-radius(4px, 4px);
	}
	> blockquote {
		padding: 0 0 0 16px;
		margin: 0 0 16px;
		border-left: 5px solid $base03;
	}
	> h2 {
		margin: 5px 0 20px 0;
		font-size: 2.5em;
		font-family: "Helvetica Neue";
		text-decoration: underline;
		color: $base0;
	}
}

.wmd-panel {
	> .wmd-button-bar {
		width: 100%;
		> .wmd-button-row {
			height: 32px;
			display: flex;
			align-items: center;
			> .wmd-button {
				width: 24px;
				height: 16px;
				color: $base0;
				> a {
					width: 20px;
					height: 20px;
					margin-left: 5px;
					margin-right: 5px;
					position: absolute;
					display: inline-block;
				}
			}
			> .wmd-spacer {
				width: 1px;
				height: 20px;
				margin: 0 8px;
				background-color: Silver;
			}
		}
	}
}

textarea {
	width: 100%;
	border: 1px solid rgba(white, .1);
	background: $base03 !important;
	color: $base0;
	padding: 1em;
	font-size: 14px;
	outline: none;
	resize: none !important;
	word-wrap: break-word;
	overflow: hidden;
	@include transition-duration(50ms);
	&:focus {
		border-color: $green;
	}
}

.wmd-prompt-background {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	opacity: 0.5;
	background-color: black;
}

.wmd-prompt-dialog {
	position: fixed;
	top: 35%;
	left: 40%;
	z-index: 1001;
	padding: 16px;
	@include border-radius(5px, 5px);
	border: 2px solid rgba(black, .1);
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
	background-color: $base02;
	> div {
		text-align: center;
	}
	> form {
		padding: 0;
		margin: 0;
		text-align: center;
		input[type="button"] {
			padding: 8px;
			margin: 8px;
			width: 24%;
		}
		input[type="text"] {
			margin: auto;
			width: 80%;
		}
	}
}

.taglist {
	width: 100%;
	margin: 5px 0 12px 0;
	.tags {
		border: 1px solid rgba(white, .1);
		background-color:$base03;
		&:focus {
			border-color: $green;
		 }
	 }
	 input {
		 background: none;
		 font-size: 14px;
		 width: auto !important;
	}
}

.user {
	> .infos {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		flex: 1;
		min-height: 256px;
		.details {
			display: flex;
			min-width: 300px;
			margin-bottom: 1em;
			margin-right: 1em;
			img {
				width: 128px;
				height: 128px;
				border: 2px solid $base03;
				@include box-shadow(rgba(black, .4) 0 2px 5px);
			 }
			 > div {
				 margin-left: 16px;
				 p {
					 margin-bottom: 8px;
				 }
			 }
		 }
		 .chart {
			 margin: 0 24px;
			 border: 2px solid $base03;
			 margin-bottom: 1em;
			 margin-left: 0;
			 min-width: 600px;
			 max-width: 800px;
			 height: 256px;
		 }
		 blockquote {
			 padding: 16px;
			 min-width: 32%;
			 background-color: rgba(black, .1);
			 border: 3px dashed $base03;
		 }
	 }
	 .activity {
		display: flex;
		align-items: flex-start;
		> ul {
			width: 50%;
		}
		> ul:first-child {
			margin-right: 32px;
		}
		.questions {
			width: 50%;
			margin-right: 24px;
			> .question {
				padding: 12px;
				border: 1px solid rgba(white, .1);
				display: flex;
				align-items: center;
				cursor: pointer;
				> .votes {
					display: flex;
					align-items: center;
					padding: 16px;
					font-size: 25px;
					background-color: rgba($green, .1);
					border: 1px solid rgba(black, .3);
					&:hover {
						color: rgba($base2, .8);
						background-color: rgba($green, .2);
					}
					margin-right: 16px;
				}
				> .title {
					font-size: 17px;
				}
			}
		}
	}
}

::-webkit-input-placeholder {
	color: rgba($base1, .5) !important;
	font-size: 14px;
	text-shadow: none;
}

::-moz-placeholder {
	color: rgba($base1, .5) !important;
	font-size: 14px;
	text-shadow: none;
}
:-ms-input-placeholder {
	color: rgba($base1, .5) !important;
	font-size: 14px;
	text-shadow: none;
}

input:-moz-placeholder {
	color: rgba($base1, .5) !important;
	font-size: 14px;
	text-shadow: none;
}

.bt-menu-trigger.ng-hide-remove {
	animation: bounceInLeft 500ms;
}

#loading-bar .bar {
	background: $green;
}
