@import 'compass/css3';
@import "compass/css3/user-interface";
@import 'colors';

.ui-unstyled {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.ui-bordered {
	border: 1px solid rgba(white, .1);
}

.ui-btn {
	font-family: "Helvetica Neue";
	font-size: 16px;
	background: $base03;
	color: $base0;
	border: none;
	outline: none;
	display: inline-block;
	cursor: pointer;
	padding: .5em 1em;
	border: 2px solid transparent;
	@include border-radius(3px);
	@include text-shadow(rgba(black, .2) 0 1px);
	&:hover, &:focus {
		color: $green;
		border: 2px solid rgba($green, .4);
	}
	&:active {
		background: darken($base03, 3);
	}
}

.ui-form {
	> section {
		padding: .5em 0;
	}
}

.ui-hr {
	margin: 1.5em 10%;
	border: none;
	border-top: 1px solid rgba(white, .05);
	@include box-shadow(rgba(black, .1) 0 -1px 0);
	&.full {
		margin: 1.5em 0;
	}
}

.ui-selectable {
	@include user-select(text);
}

.ui-sneak {
	.fromTop {
		&.ng-enter {
			animation: bounceInDown 1000ms;
		}
		&.ng-leave {
			animation: bounceOutUp 1000ms;
		}
	}
	.fromRight {
		&.ng-enter {
			animation: bounceInRight 1000ms;
		}
		&.ng-leave {
			animation: bounceOutRight 1000ms;
		}
	}
	.fromLeft {
		&.ng-enter {
			animation: bounceInLeft 1000ms;
		}
		&.ng-leave {
			animation: bounceOutLeft 1000ms;
		}
	}
	.fromBot {
		&.ng-enter {
			animation: bounceInUp 1000ms;
		}
		&.ng-leave {
			animation: bounceOutDown 1000ms;
		}
	}
}

.ui-box {
	border: 1px solid rgba(white, .1);
	background: rgba(white, .03);
	@include box-shadow(rgba(black, .3) 0 2px 10px);
	&.padded {
		padding: .5em;
	}
	&.full {
		width: 100%;
	}
}

a.ui-discret {
	color: $base01;
	text-decoration: none;
	@include text-shadow(none);
	&:hover, &:focus {
		text-decoration: none;
		> span {
			text-decoration: underline;
		}
	}
}

br.ui-br {
	display: block;
	margin: 1em 0;
}

.ui-tags-list {
	> ul {
		margin-bottom: 1em;
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
		.filter-title {
			margin-right: 8px;
		}
	}
}

.ui-smart-list {
	&.ng-leave {
		animation: fadeIn 500ms;
	}
	&.ng-enter {
		animation: fadeIn  500ms;
	}
	display: flex;
	flex-wrap: wrap;
	margin-bottom: .5em;
	margin-right: .5em;
	padding-bottom: 8px;
	padding-left: 8px;
	border: 1px solid transparent;
	&:hover { border-color: rgba(white, .1); }
	.ui-tag, .ui-categ {
		margin-right: 8px;
		margin-top: 8px;
	}
}

.ui-tag, .ui-categ {
	cursor: pointer;
	font-family: "Menlo";
	font-size: 12px;
	line-height:12px;
	padding: 2px;
}

.ui-categ {
	background:rgba(black, .4);
	text-decoration: none;
	color: $base1;
	border: 1px solid rgba(white, .2);
	&:hover {
		border: 1px solid rgba(white, .5);
	}
}

.ui-tag {
	background:rgba($base0, .4);
	color: $green;
	border: 1px solid rgba(white, .1);
	&:hover {
		border-color: $green;
	}
	&.ng-leave {
		animation: fadeIn 500ms;
	}
	&.ng-enter {
		animation: fadeIn  500ms;
	}
}

.ui-hidden {
	visibility: hidden;
	display: none;
}

.ui-flex {
	display: flex;
	align-items: center;
}

ul.ui-pad-nav {
	display: flex;
	align-items: center;
	> li {
		margin-right: .5em;
		margin-bottom: .5em;
		text-align: center;
		padding: 2em;
		background: rgba(white, .03);
		border: 1px solid rgba(white, .1);
		@include box-shadow(rgba(black, .3) 0 2px 10px);
		@include transition-property(border-color);
		@include transition-duration(100ms);
		cursor: pointer;
		&:hover {
			border-color:$green;
			color: $green;
		}
		> i {
			font-size: 68px;
			line-height: 2em;
		}
		> legend {
			margin: auto;
		}
	}
}
