<div class="login">
	<div class="ui-sneak">
		<img src="images/padlock.png" ng-if="!uiLogged" class="fromTop">
		<form class="ui-form" ng-submit="login()">
			<input class="fromLeft" type="text" ng-model="user.name" placeholder="Identifiant" autofocus="autofocus" ng-if="!uiLogged">
			<input class="fromRight" type="password" ng-model="user.mdp" placeholder="Mot de passe" ng-if="!uiLogged">
			<div class="fromBot" ng-if="!uiLogged">
				<input type="submit" value="Valider">
				<a ng-href="/signup">Inscription</div>
			</div>
		</form>
	</div>
</div>
