<hashbar></hashbar>
<ul class="unstyled ui-questions">
	<li class="ui-question" ng-repeat="question in questions"
		ng-click="viewQuestion(question)">
		<div class="votes">{{ question.upvotes - question.downvotes }}</div>
		<div class="description">
			<div class="flex">
				<i class="icon-quotes-left"></i>
				<div class="title">{{ question.title }}</div>
				<i class="icon-quotes-left inverted"></i>
			</div>
			<div class="infos">
				<a class="categ" ng-href="/#/questions">{{ question.category }}</a>
				<div class="tags">
					<span class="tag" ng-repeat="tag in question.tags">{{ tag.name }}</span>
				</div>
				<div class="extra">
					par <a class="author" href="/#/users/{{ question.author.id }}">{{ question.author.name }}</a>
					le <span class="time">{{ question.timestamp }}</span>
				</div>
			</div>
		</div>
	</li>
</ul>
