<hashbar></hashbar>
<section>
	<ul class="ui-pad-nav">
		<li ng-click="navigateTo('/ask')">
			<i class="icon-quill"></i>
			<legend>Ask a question</legend>
		</li>
		<li ng-click="navigateTo('/questions')">
			<i class="icon-list2"></i>
			<legend>All questions</legend>
		</li>
		<li ng-click="navigateTo('/chat')">
			<i class="icon-bubbles4"></i>
			<legend>ChatRoom</legend>
		</li>
		<li ng-click="navigateTo('/profile')">
			<i class="icon-user"></i>
			<legend>My profile</legend>
		</li>
	</ul>
</section>
<hr class="ui-hr">
<h2>Trending questions</h2>
