<hashbar></hashbar>
<h2 ng-bind="user.name"></h2>
<div class="user">
	<section class="infos">
		<section class="details">
			<img ng-src="/images/{{ user.misc.image }}" />
			<div>
				<p>reputation : <span class="rep">{{ user.reputation - user.downvotes }}</span></p>
				<p>joined on : <span class="joined">24/5/2011</span></p>
				<p>hostname : <tracking class="host" login="{{ user.login }}"></tracking></p>
			</div>
		</section>
		<highchart class="chart" config="chart"></highchart>
		<blockquote>DESSSSSSSSSSSSSSSSSCRIPTION {{ user.misc.description }}</blockquote>
	</section>
	<hr class="ui-hr">
	<section class="activity">
		<section class="questions" ng-repeat="question in user.questions">
			<div class="question">
				<span class="votes">10</span><span class="title">{{ question.title }}</span>
			</div>
		</section>
		<section class="answers" ng-repeat="answer in user.answers">
		
		</section>
	</section>
</div>
