<hashbar></hashbar>
<h2 ng-bind="user.name"></h2>
<div class="user">
	<section class="infos">
		<section class="details">
			<img ng-src="/images/{{ user.misc.image }}" />
			<div>
				<p>reputation : <span class="rep">{{ user.reputation }}</span></p>
				<p>joined on : <span class="joined">24/5/2011</span></p>
				<p>hostname : <tracking class="host" login="{{ user.login }}"></tracking></p>
			</div>
		</section>
		<highchart class="chart" config="chart"></highchart>
		<blockquote>DESCRIPTION {{ user.misc.description }}</blockquote>
	</section>
	<hr class="ui-hr">
	<section class="activity">
	<ul class="ui-questions">
		<li class="ui-question" ng-repeat="question in user.questions" ng-click=viewQuestion(question)>
		<div class="votes" ng-class="{ down: question.upvotes < question.downvotes }">
			{{ question.upvotes - question.downvotes }}
			<i class="icon-checkmark" ng-class="{ hidden: !question.resolved }"></i>
		</div>
		<div class="description">
			<div class="flex">
				<i class="icon-quotes-left"></i>
				<div class="title">{{ question.title }}</div>
				<i class="icon-quotes-left inverted"></i>
			</div>
			<div class="infos">
				<section class="attribs">
				<span class="ui-tag" ng-click="viewTag($event, tag)" ng-repeat="tag in question.tags">{{ tag }}</span>
				</section>
				<section class="extra">
				<a class="author" ng-click="viewUser($event, question.author)" href="">{{ question.author.name }}</a>
				<span class="time"> {{ question.timestamp | date:'dd/MM - hh:mm' }}</span>
				</section>
			</div>
		</div>
		</li>
	</ul>
	<ul class="ui-answers">
		<li class="ui-answer" ng-repeat="answer in user.answers" ng-click="viewAnswer(answer)">
		<div class="votes" ng-class="{ down: answer.upvotes < answer.downvotes }">
			{{ answer.upvotes - answer.downvotes }}
			<i class="icon-checkmark" ng-class="{ hidden: !answer.accepted }"></i>
		</div>
		<div class="description">
			<div class="flex">
				<i class="icon-quotes-left"></i>
				<div class="title">{{ answer.qtitle }}</div>
				<i class="icon-quotes-left inverted"></i>
			</div>
			<div class="infos">
				<section class="attribs">
				<span class="ui-tag" ng-click="viewTag($event, tag)" ng-repeat="tag in question.tags">{{ tag }}</span>
				</section>
				<section class="extra">
				<span class="time"> {{ answer.timestamp | date:'dd/MM - hh:mm' }}</span>
				</section>
			</div>
		</div>
		</li>
	</ul>
	</section>
</div>
